ipykernel==4.8.2
bokeh==0.12.15
lxml==4.2.1
mysql-connector-python==8.0.11
pandas-datareader==0.6.0
pipdeptree==0.12.1
seaborn==0.8.1
SQLAlchemy==1.2.7
statsmodels==0.9.0
bs4==0.0.1
tushare==1.1.7
pykalman==0.9.5
quandl==3.4.0